html, body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    background-image: url(/images/green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    color: #fff;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

h2{
    margin-top: 0;
    letter-spacing: .2rem;
}

h3{
    font-weight: 300;
}
/*Top*/
div.top{
    display:flex;
    align-self: flex-start;
}

div.top > p {
    margin: 0;
    margin-left: 10px;
}

/*Cards*/
.slot{
    border: 3px solid black;
    border-radius: 15px;
    height: 130px;
    width: calc(130px *5/7);
    margin: 1em auto;
}

#cards{
    max-width: 50%;
	height: auto;
}

img.card-image {
    width: 100%;
}

/*buttons*/
#new-deck{
    align-self: flex-start;
    margin-top: 0.4em;
    padding: .4em;
}

#draw-two-cards{
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    padding: .6em; 
    align-self: stretch;
}

button{
    background: #fff100;
    color: #000;
    border: none;
    cursor: pointer; 
}