html, body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    background-image: url('images/greenCarpet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    color: #fff;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

h2{
    margin-top: 0;
    letter-spacing: .1rem;
    margin: 0 auto;
}

h3{
    font-weight: 300;
    margin: 0 auto;
}
/*Top*/
div.top{
    display:flex;
    align-self: flex-start;
    margin-top: 1em;
}

div.top > p {
    margin: 0;
    margin-left: 3em;
}

/*Cards*/
.slot{
    border: 3px solid #fff100;
    border-radius: 5px;
    height: 20vh;
    width: calc(20vh *5/7);
    margin: 1em auto;
}

#cards{
    max-width: 50%;
	height: auto;
}

img.card-image {
    width: 100%;
}

/*buttons*/
#new-deck{
    align-self: flex-start;
}

#draw-two-cards{
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    align-self: stretch;
    margin-top: 1em;
}

button{
    background: #fff100;
    color: #000;
    border: none;
    cursor: pointer; 
    padding: .6em; 
}